.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    padding: 20px;
}

.logo {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 40px;
}

.title {
    color: #e2472f;
    font-family: 'Helvetica Neue', Arial;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.content {
    padding: 20px;
    background-color: white;
}
